*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    font-size: 14px;
}

.container{
    font-family: Montserrat, sans-serif;
    text-align: center;
    margin: 4em auto;
    width: 100%;
    max-width: 750px;
}

.title{
font-size: 2.3em;
color: red;
margin-bottom: 1.5em;
}

.square{
    position: relative;
    border: 3px solid rgba(255, 0, 0, 0.829);
    width: 100%;
    text-align: justify;
    height: 230px;
    margin-bottom: 4em;
}

.square h2{
    padding: 50px 0 25px 25px;
    font-size: 1.8em;
}

.square p{
    padding: 0 25px;
    font-size: 1.5em;
}

.circle{
position: absolute;
background-color: red;
width: 70px;
height: 70px;
text-align: center;
padding-top: 23px;
color: yellow;
font-weight: bold;
font-size: 1.6em;
border-radius: 50%;
top: -19px;
left: -25px;
}

.valor{
    position: absolute;
    background-color: red;
    font-size: 1.3em;
    font-weight: bold;
    color: yellow;
    padding: 15px 30px;
    border-radius: 7px;
    right: 13px;
    bottom: -25.5px;
    cursor: pointer;
}

.hidden{
    visibility: hidden;
    background-color: red;
}